<!DOCTYPE html>
<%-include('header')-%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap-5.0.2-dist/js/bootstrap.min.js">
   </script>

  </head>
  <body style="background-color: #DEDDF0; ">
    <div class="card" style="margin: 2%; font-size: 25px;">
    <table onload="tr()" class="table table-sm table-hover"  border="1" cellpadding="3" id="myTable" >
      <th>
          <tr>

            <th scope="col">parcode</th>
            <th scope="col">Name</th>
            <th scope="col"> سعر الشراء </th>
            <th scope="col"> سعر البيع </th>
            <th scope="col"> صافي </th>
            <th scope="col">َQuantity</th>
          </tr>

      </th>
      <tbody>
        <% result.forEach(function(result){%>
        <tr>


  <td><%=result.parcode%></td>
      <td><%=result.name%></td>
        <td><%=result.priceOfbuy%></td>
    <td><%=result.priceOfsell%></td>
      <td><%=result.safy%></td>
      <td><%=result.quantity%></td>
</tr>
      <%  }) %>
      </tbody>
    </table>
  </div>
  </body>
</html>
